<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766252625602-klhi6ahkr78npjn7irblp81tr6mrc4eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766252625602-klhi6ahkr78npjn7irblp81tr6mrc4eg</string>
	<key>API_KEY</key>
	<string>AIzaSyC-b3nkab_g3rcvGBDjAsQew18uZG54zoA</string>
	<key>GCM_SENDER_ID</key>
	<string>766252625602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoon.Hoon</string>
	<key>PROJECT_ID</key>
	<string>hoon-2c3b2</string>
	<key>STORAGE_BUCKET</key>
	<string>hoon-2c3b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766252625602:ios:1398efc0fcf1d4c4add55b</string>
</dict>
</plist>